body {
  background: #eae9fa;
}

.resume-wrapper {
  width: 1140px;
  min-width: 1140px;
  max-width: 1140px;
  height: 1604px;
  min-height: 1604px;
  max-height: 1604px;
  background: #eae9fa;
  color: rgba(0, 0, 0, 0.85);
  margin: 0 auto;
  padding: 45px 70px;
  font-family: "Ubuntu Mono", monospace;
}
.resume-wrapper * {
  color: rgba(0, 0, 0, 0.85);
  font-family: "Ubuntu Mono", monospace;
}
.resume-wrapper .resume h4 {
  color: #000;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.resume-wrapper .resume h4 svg {
  margin-inline-end: 0.75rem;
}
.resume-wrapper .resume hr {
  height: 1.6px;
  background: rgba(0, 0, 0, 0.85);
  border: none;
  margin: 1.5rem 0;
}
.resume-wrapper .resume a {
  color: rgba(0, 0, 0, 0.85);
  position: relative;
  padding-bottom: 0.25rem;
}
.resume-wrapper .resume a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background: rgba(0, 0, 0, 0.85);
  transition: 0.4s ease;
}
.resume-wrapper .resume a:hover {
  text-decoration: none;
}
.resume-wrapper .resume a:hover::before {
  width: 100%;
}
.resume-wrapper .resume .box {
  width: 100%;
  height: 395px;
  border: 2px solid #4b4a4d;
  padding: 30px 0;
}
.resume-wrapper .resume .box .social {
  z-index: 5;
  left: -16px;
  background: #eae9fa;
  padding: 8px;
}
.resume-wrapper .resume .box .social svg {
  margin-inline-end: 0.5rem;
  padding-bottom: 0.25rem;
}
.resume-wrapper .resume .box .social span:not(.resume-wrapper .resume .box .social span:first-child) {
  margin-top: 0.5rem;
}
.resume-wrapper .resume .skills ul {
  height: 326px;
  max-height: 326px;
}
.resume-wrapper .resume .skills ul li:not(.resume-wrapper .resume .skills ul li:first-child) {
  margin-top: 0.4rem;
}
.resume-wrapper .resume .skills ul li[data-type=not-tech] {
  list-style-type: circle;
}
.resume-wrapper .resume .social ul {
  padding: 0;
  margin: 0;
}
.resume-wrapper .resume .social ul li {
  list-style: none;
}
.resume-wrapper .resume .social ul li:not(.resume-wrapper .resume .social ul li:first-child) {
  margin-top: 0.5rem;
}
.resume-wrapper .resume .social ul li a {
  position: relative;
}
.resume-wrapper .resume .social ul li a.white svg {
  background: #fff;
  border-radius: 50%;
}
.resume-wrapper .resume .social ul li a::before {
  content: "";
  position: absolute;
  background-color: #ccc9fa;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0%;
  transition: 0.4s ease-out;
}
.resume-wrapper .resume .social ul li a:hover::before {
  width: 100%;
}
.resume-wrapper .resume .social ul li a svg {
  position: relative;
  margin-inline-end: 1rem;
}
.resume-wrapper .resume .social ul li a span {
  position: relative;
}
.resume-wrapper .resume .resume-header .info {
  left: -100px;
  background: #eae9fa;
}
.resume-wrapper .resume .resume-header .info h4 {
  font-size: 4.5rem;
  letter-spacing: 20px;
  line-height: 0.9;
}
.resume-wrapper .resume .resume-header .info .job-title {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}
.resume-wrapper .resume .resume-header .info .job-title::before {
  content: "";
  position: absolute;
  left: -120px;
  width: 100px;
  height: 1.5px;
  background: rgba(0, 0, 0, 0.85);
}
.resume-wrapper .resume .resume-header img {
  width: 230px;
}
.resume-wrapper .resume .resume-content .period {
  color: rgba(0, 0, 0, 0.6);
}
.resume-wrapper .resume .resume-content ul.font-medium li {
  font-size: 15px;
}

a.print {
  color: rgba(0, 0, 0, 0.85);
  padding-bottom: 0.25rem;
}
a.print:hover {
  text-decoration: none;
}
a.print::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background: rgba(0, 0, 0, 0.85);
  transition: 0.4s ease;
}
a.print:hover::before {
  width: 100%;
}

/* Scrollbar Styles Start Here*/
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
}

@media print {
  #downloadAsPDF, img {
    display: none !important;
  }
}